@model SDMNG.Models.AdminMessage
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@{
    ViewData["Title"] = "Send a Message";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ContactMe" method="post">
    @Html.AntiForgeryToken()

    <input asp-for="adminmassegesId" type="hidden" />

    <label>Name</label>
    <input asp-for="userName" class="form-control" />
    <span asp-validation-for="userName" class="text-danger"></span>

    <label>Email</label>
    <input asp-for="userEmail" class="form-control" />
    <span asp-validation-for="userEmail" class="text-danger"></span>

    <label>Subject</label>
    <input asp-for="Subject" class="form-control" />
    <span asp-validation-for="Subject" class="text-danger"></span>

    <label>Message</label>
    <textarea asp-for="Message" class="form-control"></textarea>
    <span asp-validation-for="Message" class="text-danger"></span>
    <p>

    </p>
    <button type="submit" class="btn btn-primary">Send</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}